{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section class="section">
  <div class="container">
    <h1 class="title">
      Lyrix
    </h1>
    <h2 class="subtitle">
      Open source music network
    </h2>
    <div id="scrobbleSwitchDiv" class="field">
      <input id="scrobbleSwitch" type="checkbox" name="scrobbleSwitch"
             class="switch is-rounded is-primary requires-auth">
      <label for="scrobbleSwitch">Scrobble</label>
    </div>
    <div id="cjkRomanizeSwitchDiv" class="field">
      <input id="cjkRomanizeSwitch" type="checkbox" name="cjkRomanizeSwitch"
             class="switch is-rounded is-primary requires-auth">
      <label for="cjkRomanizeSwitch">Romanize</label>
    </div>
    <a href="/similar" class="button is-primary requires-auth mb-3">Similar...</a>

    <p class="lyrics">

    </p>

    <br>
    <br>
    <div class="dropdown is-active">
      <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu2">
          <span id="selected-music-player">Music player</span>
          <span class="icon is-small">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
        </button>
      </div>
      <div class="dropdown-menu" id="dropdown-menu2" role="menu">
        <div class="dropdown-content">
          <div class="dropdown-item">
            <p>Waiting for players 🤔</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="/s/js/jquery-3.6.0.min.js"></script>
<script src="/s/js/utils.js"></script>
<script src="/s/js/lyricsFetcher.js"></script>

{% endblock %}
